name: docs

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build and deploy user docs
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch
      pull-requests: write  # To create a PR from that branch
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: "v0.59.0"
      - run: pixi run doc
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: docs/book # The folder the action should deploy.
