permissions:
  contents: read
# This configuration allows maintainers of this repo to create a branch and pull request based on
# the new branch. Restricting the push trigger to the main branch ensures that the PR only gets
# built once.
on:
  push:
    branches: [main]
  pull_request:

# If new code is pushed to a PR branch, then cancel in progress workflows for that PR. Ensures that
# we don't waste CI time, and returns results quicker https://github.com/jonhoo/rust-ci-conf/pull/5
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: check
jobs:
  lint:
    runs-on: ubuntu-latest
    name: linting
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: prefix-dev/setup-pixi@v0.9.4
        name: install pixi
        with:
          pixi-version: "v0.59.0"

      - name: run lints
        run: pixi run lint
  committed:
    name: Lint Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: dump commit messages
        env:
          BRANCH: ${{ github.head_ref }}
        run: |
          TAG="$(git tag | sort -V -r | head -n 1)"
          git log "$TAG"..HEAD --format=%B > msg.txt

      - name: Check spelling of commit messages
        uses: crate-ci/typos@v1.42.1
        with:
          files: ./msg.txt
      - name: Check conventional commits
        uses: crate-ci/committed@master
